@import '../../components/variables.css';

.root {
    background: var(--white);
    border-radius: var( --border-radius);
    color: var(--purple);
    padding: var(--padding-wrapper);
}

@media (max-width: 992px) {
    .root {
        padding: var(--padding-wrapper-xs);
    }
}