@import '../../components/variables.css';

.root {
    background: var(--light-purple);
    border-radius: var( --border-radius);
    padding: var(--padding-wrapper);
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: slideright;
}

@keyframes slideright {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@media (max-width: 992px) {
    .root {
        padding: var(--padding-wrapper-xs);
    }
}


@media (max-width: 992px) {
    .root {
        padding: var(--padding-wrapper-xs);
    }
}
