@import '../../components/variables.css';

.root {
    background: var(--light-purple);
    border-radius: var( --border-radius);
    padding: var(--padding-wrapper);
}

@media (max-width: 992px) {
    .root {
        padding: var(--padding-wrapper-xs);
    }
}
