.sidebar {
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-align: center;
}

@media (min-width: 992px) {
    .sidebar {
        display: inline-block;
        width: 45%;
    }
}